on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Fix OpenSSL issue
      run: echo "NODE_OPTIONS=--openssl-legacy-provider" >> $GITHUB_ENV

    - name: Install Node.js dependencies
      run: npm install
      # If your frontend is in a subfolder (like 'frontend'), add 'working-directory: ./frontend'

    - name: Build Node.js project
      run: npm run build
      # If your frontend is in a subfolder, add 'working-directory: ./frontend'
